@page
@model IndexModel
@using QuestRoomASP
@{
    ViewData["Title"] = "Home page";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-image: url("https://questzone.com.ua/dist/pict_rooms/Iv2L35Tj.jpg");
        padding: 50px;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .contener {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        width: 85%;
        background-image: url("https://www.bodo.ua/resize/upload/files/cm-experience/102/101728/images_file/all_all_big-t1604571205-r1w768h425q90zc1.jpg");
        padding: 20px;
        border-radius: 20px;
        margin: auto;
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .contener2 {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        row-gap: 20px;
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("https://img.freepik.com/premium-photo/horror-background_173387-1447.jpg");
        padding: 20px;
        color: lime;
        font-weight: bold;
        border-radius: 20px;
    }

    .contener3 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .contener4 {
        width: 100%;
        height: 200px;
        border-radius: 20px;
    }

    .contener5 {
        width: 200px;
        height: auto;
        word-break: break-word;
    }

    .style1 {
        color: lime;
    }

    .styleButton {
        justify-content: center;
        width: 60px;
        cursor: pointer;
    }
</style>
 <form method="get">
<button type="submit" asp-page="AddRoom">AddRoom</button>

</form>
  <div class="contener">
    
        @foreach (var item in Model.rooms)
            {
                    <div class="contener2">
           
                 <label class="contener3"  >@item.Name</label>
                <div>
                        <p>Час проходження <span>@item.PassageTime</span></p>
                         <br />
                            <p>Мінімальна кількість людей <span >@item.MinMember</span></p>
                             <br />
                             <p>Максимальна кількість людей <span>@item.MaxMember</span></p>
                             <br />
                             <p>Мінімальний вік гравця <span>@item.MinAge</span></p>
                         <br />
                             <p>Адреса <span>@item.Adress</span></p>
                         <br />
              
           
            <p>Рівень страху <span>@item.FearLevel</span></p>
            <br />
            <p>Рівень складності <span>@item.DifficultyLevel</span></p>
          
            <br>
           

                <form asp-page="Info" method="get" asp-route-id="@item.Id">
                    <button>Info</button>
                </form>
                        <form asp-page="Edit" method="get" asp-route-id="@item.Id" >
                            <button>Edit</button>
                        </form>
                    
                    
                        <form asp-page-handler="Delete" asp-route-id="@item.Id">
                            <button>Delete</button>
                        </form>
                    
          </div>

                  
                
            </div>
        }
    

    
  </div>
